@import '../colors';

$vs-border-width: 0;
$vs-controls-color: transparent;

$vs-selected-bg: $_gray6;
$vs-state-active-bg: $_gray6;


$vs-border-radius: 2px;
$vs-dropdown-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);

$vs-dropdown-min-width: 80px;
