// ########################################
// #   INTERNAL DESCRIPTIVE COLOR NAMES   #
// #   --------------------------------   #
// #    Variable names match the color    #
// #    names in the component library    #
// #   -------------------------------    #
// #   DO NOT USE OUTSIDE OF THIS FILE    #
// ########################################

// Primary Brand Colors
$_bam-navy: #002F6C;
$_bam-cyan: #00B0FF;
$_bam-orange: #FF6600;
$_bam-violet: #44479B;

// UI Grays
$_gray1: #1C2026;
$_gray2: #3D4146;
$_gray3: #757B83;
$_gray4: #BBBEC2;
$_gray5: #DCDEE0;
$_gray6: #EFEFEF;
$_gray7: #F6F7F9;

// support British spelling
$_grey1: $_gray1;
$_grey2: $_gray2;
$_grey3: $_gray3;
$_grey4: $_gray4;
$_grey5: $_gray5;
$_grey6: $_gray6;
$_grey7: $_gray7;
$_white: #FFFFFF;
$_black: #000000;
$_white: #FFFFFF;
$_white-transparent: rgba(119, 149, 189, 0.5);

// Secondary Palette
$_blue: #007DC3;
$_teal: #338CA4;
$_green: #18B070;
$_red: #FC464A;
$_aqua: #0071C3;

// ############################################
// #           SEMANTIC COLOR NAMES           #
// #   ------------------------------------   #
// #   Use these throughout the application   #
// ############################################

$color-divider: $_gray5;

$color-primary: $_bam-navy;
$color-info: $_bam-cyan;
$color-link: $_bam-navy;
$color-background: $_gray6;

$color-error: $_red;

$tag-color-available: $_green;
$tag-color-available-blue: $_blue;
$tag-color-unavailable: $_red;
$tag-color-archived: $_gray4;

$color-text: $_black;
$color-text-strong: $_black;
$color-text-light: $_black;

$color-button-default: $_bam-navy;
$color-button-hover: $_bam-cyan;
$color-button-active: $_blue;
$color-button-disabled: $_gray5;
$color-button-text-invert: $_white;
$color-button-focus-shadow: transparentize($_bam-cyan, 0.25);

$color-input-border: $_gray6;
$color-input-field: $_gray7;
$color-input-active-border: $_gray3;
$color-input-form-active-border: $_blue;
$color-input-selected: $_bam-cyan;
$color-input-selected-border: $_bam-cyan;
$color-input-disabled: $_gray5;
$color-input-label-disabled: $_gray4;
$color-input-text: $_gray1;
$color-input-text-form: $_gray3;
$color-input-background: $_white;
$color-input-shadow: $_gray5;
$color-input-focus-border: #007DC3;

$color-dropdown-divider: $_gray6;
$color-dropdown-background: $_gray7;
$color-dropdown-preferred: $_gray4;
$color-dropdown-item: $_gray3;

$color-label-disabled: $_gray3;
$color-label-large: $_gray1;
$color-label-head: $_gray3;

$color-menu-item: $_white;
$color-menu-item-hover: $_white;
$color-menu-item-separator: $_white-transparent;
$color-menu-item-current: $_bam-orange;

$color-profile: $_gray3;

$color-calendar-today: $_bam-navy;
$color-caluclator-background: $_white;

$color-navbar-background: $_white;

$color-gradient-availability: linear-gradient(
  140.37deg,
  $_bam-cyan 4.25%,
  $_blue 134.93%
);
$color-gradient-availability-hover: linear-gradient(
  136.89deg,
  #004596 0.53%,
  $_blue 99.09%
);
$color-gradient-fuel: linear-gradient(
  313.26deg,
  $_white 5.9%,
  $_gray6 91.7%
);
$color-gradient-fuel-hover: linear-gradient(
  313.26deg,
  #CDD2D9 5.9%,
  $_gray6 91.7%
);

$color-gradient-vessel-hero-image: linear-gradient(
    180deg,
    rgba(0, 90, 206, 0) 0%,
    rgba(0, 74, 171, 0.0375) 32.31%,
    rgba(0, 61, 141, 0.12) 66.74%,
    rgba(0, 21, 49, 0.15) 92.19%
);

$color-gradient-vessel-image: linear-gradient(
    180deg,
    rgba(13, 31, 53, 0) 0%,
    rgba(12, 57, 113, 0.2125) 48.96%,
    rgba(13, 31, 53, 0.85) 100%
);

$color-landing-fuel: $_gray4;
$color-landing-text: $_white;
$color-landing-text-fuel: $_black;
$color-landing-button-quote: $_bam-orange;

$color-header-text: $_white;
$color-header-text-hover: $_gray2;

$color-footer-bg: $_gray1;
$color-footer-logo: $_gray2;
$color-footer-text: $_gray3;

$color-footer-slim-text: $_gray2;
$color-footer-slim-bg: $_white;

$color-background-public: $_gray7;
$color-background-public-content: $_white;
$color-background-bam: $_gray7;
$color-background-client: $_gray7;
$color-background: $_gray7;
$color-background-card-dark: $_bam-navy;

$color-card-box-shadow: rgba(60, 82, 110, 0.08);
$color-footer-text: $_gray4;

$color-table-text: $_gray2;
$color-table-row-dark: $_gray7;
$color-table-row-light: $_white;
$color-table-rule: $_gray5;
$color-table-pagination-text: $_gray3;

$color-fuel-calc-dark: #002453;

$color-icon-disabled: $_gray4;
$color-icon-active: $_gray1;
$color_icon-account: $_blue;

$color-avatar: $_blue;
$color-avatar-initals-text: $_white;

$color-contact-card-text: $_gray2;
$color-contact-card-icon: $_gray3;

$color-datepicker-text: $_black;
$color-datepicker-days-text: $_gray3;
$color-datepicker-hover-text: $_bam-navy;
$color-datepicker-selected: $_bam-navy;
$color-datepicker-selected-text: $_white;
$color-datepicker-today: $_bam-orange;
$color-datepicker-hover: rgba(0, 47, 108, 0.1);

:export {
  colorFooterLogo: $color-footer-logo;
}
